{% extends 'admin_register.html' %}
{% block sub %}
<div class="container-fluid">
	<div class="row m-5">
		<div class="col-sm-2"></div>
		<div class="col-sm-8">
	<form action="{% url 'add_min_off' %}" method="post" enctype="multipart/form-data">
		{% csrf_token %}
		<div class="form-row">
			<div class="form-group col-md-4">
				<label>FIRST NAME</label>
				<input type="text" name="fname" placeholder="First name" required>
			</div>
			<div class="form-group col-md-4">
				<label>LAST NAME</label>
				<input type="text" name="lname" placeholder="Last name" required>
			</div>
			<div class="form-group col-md-4">
				<label>ID NUMBER</label>
				<input type="text" name="idNo" placeholder="ID Number" required>
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-md-4">
				<label>MINISTRY</label>
				<p class="text-small text-danger">{{alert}}</p>
				{% if ministries %}
				<select name="ministry" required>
				{% for m in ministries %}
					<option>{{ m.name }}</option>
				{% endfor %}
				</select>
				{% endif %}
			</div>
			<div class="form-group col-md-4">
				<label>UPLOAD PICTURE</label>
				<input type="file" name="picture" required>
			</div>
			<div class="form-group col-md-4">
				<label>SAVE</label>
				<button type="Submin" class="btn btn-large btn-success">SAVE</button>
			</div>
		</div>

		
	</form>
		</div>
		<div class="col-sm-2"></div>
		
	</div>

</div>
{% endblock %}
