{% extends 'manage_home.html' %}
{% block sub %}
<div class="container-fluid justify-content-center">
	<h4 class="text-dark text-center">KISUMU COUNTY USER MANAGEMENT BOARD</h4>
	{% load static %}
	<div class="row">
		<div class="col text-center m-0">
			<img src="{% static 'Kisumu/bg.png' %}" style="linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)); background-position: center; background-repeat: no-repeat;;background-size: cover; position: relative; height: 80%; width:100%; ">
			<h2 style="text-align: center; position: absolute;top: 50%;
			left: 50%; transform: translate(-50%, -50%); color: white;"> VIEW AND MANAGE USERS BY RESETTING THEIR PASSWORDS. NOTE THAT NO INFORMATION CAN BE UPDATED ABOUT THE USERS...</h2>
		</div>
	</div>
</div>
{% endblock %}