{% extends 'base_ministry.html' %}
{% block hero %}
<div class="container-fluid justify-content-center">
	{% load static %}
	<div class="row">
		<div class="col text-center m-0">
			<img src="{% static 'Kisumu/bg.png' %}" style="linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)); background-position: center; background-repeat: no-repeat;;background-size: cover; position: relative; height: 80%; width:100%; ">
			<h2 style="text-align: center; position: absolute;top: 50%;
			left: 50%; transform: translate(-50%, -50%); color: white;"> WELCOME TO KISUMU COUNTY INFORMATION HUB LEADER'S BOARD. HAVE YOUR WALL UPDATED BY YOUR NEWS UPDATES AND SPONSORED PROJECTS.</h2>
		</div>
	</div>
</div>
{% endblock %}