{% extends 'base_mca.html' %}
{% block hero %}
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-2"></div>
		<div class="col-sm-8">
			<div class="container-fluid m-3">
				<h4 class="text-uppercase text-center m-2">Update this project</h4>
				<h5 class="text-danger text-center text-uppercase">{{ alert }}</h5>
				<form action="{% url 'update_mca_project_final' p.id %}" enctype="multipart/form-data" method="POST">
					{% csrf_token %}
					<div class="row m-2">
						
							<div class="col-sm-3">
								<label class="font-weight-bold">TITLE</label>
							</div>
							<div class="col-sm-9">
								<h4>{{p.title}}</h4>
							</div>
						
					</div>
					<div class="row m-2">
						<div class="col">
							<div class="form-group">
								<label class="font-weight-bold">LOCATION</label>
								<h4>{{p.location}}</h4>
							</div>
						</div>
						<div class="col">
							<div class="form-group">
								<label class="font-weight-bold">ESTIMATE COST</label>
								<h4>{{p.estimate}}</h4>
							</div>
						</div>
					</div>
					
					<div class="row m-2">
						<div class="col-sm-5">
							<div class="form-group">
								<label class="font-weight-bold">IMAGE</label><br>
								<input type="file" name="image" required>
							</div>
						</div>
						<div class="col-sm-5">
							<div class="form-group">
								<label class="font-weight-bold" >ALLOCATED AMOUNT</label>
								<input type="text" name="allocation" required class="form-control" placeholder="Allocated amount..">
							</div>
						</div>
					</div>
					<div class="row m-2">
						<div class="col-sm-3">
							<label class="font-weight-bold">DESCRIPTION</label>
						</div>
						<div class="col-sm-9">
							<textarea class="form-control" placeholder="Type message here..." required name="message"></textarea>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-2 text-right">
							<button class="btn btn-success">Update</button>
						</div>
					</div>
		</div>
		<div class="col-sm-2"></div>
	</div>
</div>
{% endblock %}